/* main-section */
.main-sec{
    background: url(../images/background/background1.webp) no-repeat center;
    height: 100vh;
}
.main-container{
    color: white;
    z-index: 2;
}
.main-heading{
    font-size: 3rem;
}
.main-detail{
    margin: 10px 0;
}
.main-btns.flex-center{
    gap: 4px;
}
.main-btn{
    padding: 10px 15px;
    border-radius: 8px;
}
.start-btn{
    background-color: white;
    color: black;
}
.learn-btn{
    background-color: var(--main-color);
    color: white;
}

/* about-us-section */
.about-us-box{
    border: 1px solid black;
    padding: 25px 10px;
    transition: 0.2s;
}
.about-us-heading{
    margin: 12px 0;
    font-size: 1.8rem;
}
.read-more{
    color: var(--main-color);
    font-size: 1.5rem;
}
.read-more{
    text-decoration: underline;
    margin-top: 12px;
    font-size: 1.2rem;
}


/* portfolio-section */
.portfoilio-container{
    margin-top: 40px;
}
.portfolio-box{
    position: relative;
}
.portfolio-box img{
    width: 100%;
    height: 300px;
}
.info-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s;   
}
.portfolio-box:hover .info-overlay{
    opacity: 1;
    visibility: visible;
}
.Project-name , .project-details{
    color: white;
}
.Project-name{
    font-size: 1.6rem;
}
.project-details{
    font-size: 1.3rem;
    margin: 15px 0;
}
.langauge-used.flex , .project-place.flex{
    gap: 3px;
}
.project-place{
    margin-top: 15px;
    color: white;
}


/* services-section */
.service-box{
    border: 1px solid black;
    padding: 20px 15px;
}
.service-upper.flex{
    justify-content: unset;
    gap: 15px;
}
.service-details{
    margin-top: 15px;
}

/* chose-us-sec */
.chose-sec-container.flex-center{
    gap: 50px;
}
.reason{
    margin-bottom: 15px;
}
.reason.flex{
    justify-content: unset;
    gap: 5px;
}
.chose-sec-end img{
    height: 300px;
}
.radio-parent.flex-center{
    gap: 3px;
}
.radio-parent span{
    height: 15px;
    width: 15px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}
.radio-active{
    background-color: var(--main-color);
}
/* first-banar-sec */
.first-banar-sec{
    background-image: url(../images/background/background2.webp);
}
.banar-container{
    color: white;
    z-index: 2;
    width: 100%;
}
.banar-container.flex{
    gap: 5px;
}
.number-count{
    margin: 7px 0;
}

/* price-section */
.price-box{
    border: 1px solid black;
    padding: 20px 0; 
}
.price-per-time{
    width: 85px;
    height: 85px;
    margin: 15px auto;
    border-radius: 50%;
    border: 1px solid var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    /* padding: 5px; */
}
.purchase-btn{
    background-color: var(--main-color);
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 15px;
}

/* testimonial-section */
.testi-banar-sec{
    background-image: url(../images/background/background3.webp);
    padding: 0 8rem;
}
.banar-box .upper.flex{
    justify-content: unset;
    gap: 18px;
}
.banar-box img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.person-job{
    margin-top: 7px;
}
.person-comment{
    margin-top: 15px;
}

/* team-section */
.member-box figure{
    position: relative;
    height: 300px;
}
.member-box img{
    position: relative;
    height: 100%;
    width: 100%;
} 
.member-info{
    margin-top: 10px;
}
.member-job{
    margin-top: 5px;
}
.social-icons{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0,0,0,0.7);
    visibility: hidden;
    opacity: 0;
    text-align: right;
    transition: 0.7s;
    display: flex;
    justify-content: flex-end;
}
.social-icons .container{
     background-color: var(--main-color);
     color: white;
     width: 70px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 15px;
     padding: 15px;
    
}
.member-box figure:hover .social-icons{
    height: 100%;
    visibility: visible;
    opacity: 1;
}
.social-icons .container i{
    font-size: 1.3rem;
}

/* news-section */
.new-box img{
    width: 100%;
}
.news-info{
    margin: 9px 0;
}
.news-info i{
    color: var(--main-color);
    margin-right: 2px;
}
.news-details{
    margin:  16px 0 8px 0;
}
.read-more-btn{
    background-color: transparent;
    border: none;
    color: var(--main-color);
    font-size: 1.1rem;
}

/* media-query */
@media(max-width: 1300px){
    /* testimonial-section */
    .testi-banar-sec {
        padding: 0 2rem;
    }
    .testi-banar-sec .banar-container.flex{
        gap: 50px;
    }
}
@media(max-width: 1024px){
    /* news-sec */
    .news-info{
        font-size: 0.7rem;
    }
}
@media(max-width: 768px){
    /* main-sec */
    .main-heading{
        font-size: 2.3rem;
    }

    /* first-banar-sec */
    .first-banar-sec .banar-box i , .first-banar-sec .banar-box h3{
        font-size: 1rem;
    }

    /* tesimonial-sec */
    .banar-box img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    /* news-sec */
    .news-info{
        font-size: 1rem;
    }
}
@media(max-width: 614px){
    /* chose-us-section */
    .chose-sec-container.flex-center {
        gap: 15px;
    }
    .reason i , .reason span{
        font-size: 0.9rem;
    }
    .chose-sec-end img {
        width: 200px;
        height: 200px;
    }
    /* testimonial-section */
    .banar-sec.testi-banar-sec{
        height: auto;
        padding: 20px 2rem;
    }
    .testi-banar-sec .banar-container.flex{
        flex-direction: column;
        gap: 40px;
        align-items: start;
    }
}
@media(max-width: 400px){
    /* main-sec */
    .main-container{
        padding: 0 0.5rem;
    }
    .main-heading{
        font-size: 1.8rem;
    }
    .main-detail {
        font-size: 0.9rem;
    }
    .main-btn {
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 0.9rem;
    }

    /* chose-us-section */
    .chose-sec-container.flex-center{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .reason i , .reason span{
        font-size: 1.2rem;
    }

    /* first-banar-sec */
    .first-banar-sec.main-padd{
        padding: 0 0.5rem;
    }
    .first-banar-sec .banar-box i , .first-banar-sec .banar-box h3{
        font-size: 0.8rem;
    }
}
@media(max-width: 320px){
    /* portfolio-sec */
    .portfolio-box img{
        height: 200px;
    }

    /* first-banar-sec */
    .first-banar-sec .banar-box i , .first-banar-sec .banar-box h3{
        font-size: 0.6rem;
    }

    /* team-sec */
    .member-box figure{
        height: 200px;
    }
}